trigger: none
pr: none

parameters:
  - name: Location
    displayName: Select the location for Enabler Components Deployment
    type: string
    default: "UKS_Shared"
    values:
      - UKS_Shared
      - UKW_Shared
      - IN_Shared

  - name: DeploymentMode
    displayName: Choose Deployment Mode
    type: string
    default: "Use Existing Template"
    values:
      - Use Existing Template
      - Provide JSON or URL

  - name: TemplateName
    displayName: Select Template (only used if 'Use Existing Template' is selected)
    type: string
    default: "Test1"
    values:
      - Test1
      - Test2
      - Test3
      - Test4
      - Test5

  - name: DashboardReference
    displayName: Enter Dashboard Resource ID (only used if 'Use Dashboard Resource ID' is selected)
    type: string
    default: ''

variables:
  - template: variables.yml
stages:
  - stage: Deploy_Custom_Dashboard
    displayName: Deploy Custom Dashboard
    condition: eq('${{ parameters.DeploymentMode }}', 'Provide JSON or URL')
    jobs:
      - job: DeployCustom
        steps:
          - checkout: self
            persistCredentials: true
          - template: ./template-branching-strategy/deploy-custom.yml
            parameters:
              DashboardReference: ${{ parameters.DashboardReference }}
              Location: ${{ parameters.Location }}
              ValidateJSON: ${{ parameters.ValidateJSON }}

  - stage: Deploy_Template_Dashboard
    displayName: Deploy Template Dashboard
    condition: eq('${{ parameters.DeploymentMode }}', 'Use Existing Template')
    jobs:
      - job: DeployTemplate
        steps:
          - checkout: self
            persistCredentials: true
          - template: ./template-branching-strategy/deploy-template.yml
            parameters:
              Location: ${{ parameters.Location }}
              TemplateName: ${{ parameters.TemplateName }}