trigger: none
pr: none

parameters:
  - name: Location
    displayName: Select the location for Enabler Components Deployment
    type: string
    default: "UKS_Shared"
    values:
      - UKS_Shared
      - UKW_Shared
      - IN_Shared

  - name: DeploymentMode
    displayName: Choose Deployment Mode
    type: string
    default: "Use Existing Template"
    values:
      - Use Existing Template
      - Provide JSON or URL

  - name: DashboardReference
    displayName: Enter Dashboard JSON file path or URL (only used if 'Provide JSON or URL' is selected)
    type: string
    default: ''

variables:
  - template: variables.yml
stages:
  - stage: Deploy_Custom_Dashboard
    displayName: Deploy Custom Dashboard
    condition: eq('${{ parameters.DeploymentMode }}', 'Provide JSON or URL')
    jobs:
      - job: DeployCustom
       